Market Sales Analysis for Client ABC (EDA Assignment) By Mitesh V

The client ABC is a US based large retailer of apparel and accessories. ABC management is planning to expand their business by opening more shops in different locations across the US. Details of the existing shops are available in the data source shared. Perform the necessary data analysis and summarize the insights to answer the questions listed below.

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('eda_data.csv')
df

,Store,Year,Month,Super Division,Sales,SGM,Store Open,Store Close,Outlet Type,State,Climate,Total Sq Ft,Store Modification Date,Store Modification
0,1,2015,2,GIRLS,63635.80,35692.09,1991-03-01 00:00:00,No Close date,Outlet,A1,Frigid,4735.0,2011-10-06 00:00:00,relocation
1,1,2015,2,BOYS,20872.93,15691.34,1991-03-01 00:00:00,No Close date,Outlet,A1,Frigid,4735.0,2011-10-06 00:00:00,relocation
2,1,2015,2,ACCESSORIES,38717.03,23866.25,1991-03-01 00:00:00,No Close date,Outlet,A1,Frigid,4735.0,2011-10-06 00:00:00,relocation
3,1,2015,2,KIDS,11455.00,12110.00,1991-03-01 00:00:00,No Close date,Outlet,A1,Frigid,4735.0,2011-10-06 00:00:00,relocation
4,1,2015,3,GIRLS,67507.77,42237.79,1991-03-01 00:00:00,No Close date,Outlet,A1,Frigid,4735.0,2011-10-06 00:00:00,relocation
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114727,481,2019,4,BOYS,41141.08,29096.45,2013-09-26 00:00:00,No Close date,Strip,C9,Moderate,4960.5,No RRE date,no change
114728,481,2019,4,ACCESSORIES,42549.31,26946.17,2013-09-26 00:00:00,No Close date,Strip,C9,Moderate,4960.5,No RRE date,no change
114729,481,2019,4,KIDS,11110.55,11893.03,2013-09-26 00:00:00,No Close date,Strip,C9,Moderate,4960.5,No RRE date,no change
114730,481,2019,5,GIRLS,72705.32,44709.06,2013-09-26 00:00:00,No Close date,Strip,C9,Moderate,4960.5,No RRE date,no change
114731,481,2019,5,BOYS,32309.38,24004.19,2013-09-26 00:00:00,No Close da,NaN,NaN,NaN,NaN,NaN,NaN

1) Initial Exploration:

a) Find total sales by year.

In [3]:
total_sales_each_year = df.groupby('Year')['Sales'].sum()
total_sales_each_year

Year
2015    1.067311e+09
2016    1.163668e+09
2017    1.049798e+09
2018    9.817347e+08
2019    1.018282e+09
2020    4.531989e+07
Name: Sales, dtype: float64

b) Number of stores opened in the year 1991.

In [4]:
df['Store Open'] = pd.to_datetime(df['Store Open'], errors='coerce')
df['Store Open Year'] = df['Store Open'].dt.year
stores_opened_1991 = df[df['Store Open Year'] == 1991]['Store'].nunique()
print("The no. of stores opened in 1991 are : ",stores_opened_1991)

The no. of stores opened in 1991 are :  3

c) How many stores were remodelled during this period? (Consider all types of remodelling)

In [5]:
remodeled_stores = df[df['Store Modification'].notnull()]['Store'].nunique()
print(f"Number of stores remodeled: {remodeled_stores}")

Number of stores remodeled: 481

d) Find the direct relationship (if any) between Sales and total sq. ft.

In [6]:
correlation_sales_sqft = df['Sales'].corr(df['Total Sq Ft'])
print(f"Correlation between Sales and Total Sq Ft: {correlation_sales_sqft}")

Correlation between Sales and Total Sq Ft: 0.12966283715915966

e) Which Super division is most profitable?

In [7]:
super_division_profit = df.groupby('Super Division')['Sales'].sum().reset_index()
most_profitable_super_division = super_division_profit.loc[super_division_profit['Sales'].idxmax()]
print(f"Most profitable Super Division: {most_profitable_super_division['Super Division']} with Sales: {most_profitable_super_division['Sales']}")

Most profitable Super Division: GIRLS with Sales: 2358646979.1

f) How many stores are active as of today?

In [9]:
active_stores = df[df['Store Close'].isnull()]['Store'].nunique()
print(f"Number of active stores as of today: {active_stores}")

Number of active stores as of today: 0

g) Which super division has more sq. ft on an average across all the stores?

In [10]:
avg_sqft_super_division = df.groupby('Super Division')['Total Sq Ft'].mean().reset_index()
super_division_max_avg_sqft = avg_sqft_super_division.loc[avg_sqft_super_division['Total Sq Ft'].idxmax()]
print(f"Super division with highest average sq. ft: {super_division_max_avg_sqft['Super Division']} with Average Sq Ft: {super_division_max_avg_sqft['Total Sq Ft']}")

Super division with highest average sq. ft: KIDS with Average Sq Ft: 6392.142177881554

2) Advanced Insights:

a) What are the top 3 potential candidate states to consider for opening a new store?

(we assume that the states with the higher avg. sales are the ones who can look to open a new store)

So we group the data by state and calculate the average sales for each state. Sort the states by average sales in descending order and select the top 3 states with the highest average sales.

In [12]:
average_sales_by_state = df.groupby('State')['Sales'].mean().reset_index()
top_3_states = average_sales_by_state.sort_values(by='Sales', ascending=False).head(3)
print("Top 3 potential candidate states for opening a new store:")
print(top_3_states)

Top 3 potential candidate states for opening a new store:
   State         Sales
43    E4  58183.380314
15    B5  54206.362152
12    B2  50950.712285

b) What is the best time of the year to consider opening a store?

(We assume that the month with the highest avg. sales is the best option for opening a new store)

So we extract the month from the store opening dates and group the data by month and calculate the average sales for each month. Then finally identify the month with the highest average sales.

In [13]:
df['Store Open Month'] = df['Store Open'].dt.month
average_sales_by_month = df.groupby('Store Open Month')['Sales'].mean().reset_index()
best_month = average_sales_by_month.loc[average_sales_by_month['Sales'].idxmax()]
print("Best time of the year to consider opening a store:")
print(best_month)

Best time of the year to consider opening a store:
Store Open Month        8.000000
Sales               48129.321517
Name: 6, dtype: float64

c) Are there any “outlet-type” effects towards store closures?

(We assume that the type of outlet might influence the likelihood of store closures.)

So first we identify stores that have closed by checking the Store Close column , Then group the data by outlet type and calculate the number of closed stores for each type.

Now we calculate the total number of stores for each outlet type.

Finally we calculate the closure rate for each outlet type by dividing the number of closed stores by the total number of stores for that type.

In [14]:
closed_stores = df[df['Store Close'].notnull()]
outlet_type_effects = closed_stores.groupby('Outlet Type')['Store'].nunique() / df.groupby('Outlet Type')['Store'].nunique()
outlet_type_effects = outlet_type_effects.reset_index().rename(columns={0: 'Closure Rate'})
print("Outlet-type effects towards store closures:")
print(outlet_type_effects)

Outlet-type effects towards store closures:
  Outlet Type  Store
0        Mall    1.0
1      Outlet    1.0
2       Strip    1.0

The table shows that Mall, Outlet, and Strip outlet types have the same effect (1.0) on store closures. This suggests that, according to the data, the risk or likelihood of a store closing is the same for all three types of retail locations