Python fundamentals assignment by Mitesh V


1)
Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array.
The element value in the i-th row and j-th column of the array should be i*j.

In [12]:
x = int(input('Enter the no. of rows: '))
y = int(input('Enter the no. of columns: '))
a = []

for i in range(x):
  b = []
  for j in range(0,y):
    k = i*j
    b.append(k)
  a.append(b)
print(a)

Enter the no. of rows: 3
Enter the no. of columns: 5
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

2) Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.

In [13]:
x1 = input("Enter comma seperated sequence of words: ")
x2 = x1.split(',')
x3 = sorted(x2)
print(x3)

Enter comma seperated sequence of words: without,hello,bag,world
['bag', 'hello', 'without', 'world']

3) Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically.

In [15]:
x1 = input("Enter a whitespace-separated sequence of words: ")
x2 = x1.split()
x3 = set(x2)
x4 = sorted(x3)
final = ' '.join(x4)
print(final)

Enter a whitespace-separated sequence of words: hello world and practice makes perfect and hello world again
again and hello makes perfect practice world

4) Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number

In [16]:
for i in range(1000,3001):
  if i%2 == 0:
    s = str(i)
    if int(s[0])%2 == 0 and int(s[1])%2 == 0 and int(s[2])%2 == 0 and int(s[3])%2 == 0:
      print(i, end = '')
      print(end = ',')

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888,

5) Write a program that accepts a sentence and calculate the number of letters and digits.

In [17]:
x1 = input("Enter the sentence : ")
LETTERS = 0
DIGITS = 0
for i in x1:
  if i.isalpha():
    LETTERS += 1
  elif i.isdigit():
    DIGITS += 1

print('Letters : ',LETTERS)
print('Digits : ',DIGITS)

Enter the sentence : hello world! 123
Letters :  10
Digits :  3

6) Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters.

In [18]:
x1 = input("Enter the sentence : ")
upper = 0
lower = 0
for i in x1:
  if i.isupper():
    upper += 1
  elif i.islower():
    lower += 1

print('Upper case : ',upper)
print('Lower case : ',lower)

Enter the sentence : Hello world!
Upper case :  1
Lower case :  9

7) Write a program that computes the net amount of a bank account based a transaction log from console input.

In [20]:
x = input("Enter the transaction : ")
x1 = x.split(',')
total = 0
for i in x1:
  x2 = i.split()
  if x2[0] == 'D':
    total += int(x2[1])
  elif x2[0] == 'W':
    total -= int(x2[1])

print("The final balance is : ",total)

Enter the transaction : D 300,D 300,W 200,D 100
The final balance is :  500

8) A website requires the users to input username and password to register. Write a program to check the validity of password input by users.

In [21]:
password = input("Enter the passowrd : ")
x1 = password.split(',')

for i in x1:
    lletter = 0
    uletter = 0
    no = 0
    char = 0
    for j in i:
        if j.isalpha() and j.isupper():
            uletter += 1
        elif j.isalpha() and j.islower():
            lletter += 1
        elif j.isdigit():
            no += 1
        else:
            char += 1

    if((lletter >=1) and (uletter >=1) and (no >=1) and (char >=1) and (len(i)>=6) and (len(i)<=12)):
        print(i)

Enter the passowrd : ABd1234@1,a F1#,2w3E*,2We3345
ABd1234@1

9) You are required to write a program to sort the (name, age, height) tuples by ascending order where name is string, age and height are numbers.

In [22]:
data = ()
print("Enter the tuples (Type 'done' when finished): ")

while True:
    t1 = input()
    if t1.lower() == 'done':
        break

    name, age, height = t1.split(',')
    data += ((name.strip(), age.strip(), height.strip()),)

sorted_data = sorted(data, key=lambda x: (x[0], int(x[1]), int(x[2])))
print(sorted_data)

Enter the tuples (Type 'done' when finished):
Tom,19,80
John,20,90
Jony,17,91
Jony,17,93
Json,21,85
done
[('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]

10) A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The numbers after the direction are steps.  
The trace of robot movement is shown as the following:

In [23]:
path = input("Enter the path : ")
x1 = path.split(',')
p = [0,0]
for i in x1:
    x2 = i.split()
    if x2[0] == "UP":
        p[0] = p[0] + int(x2[1])
    elif x2[0] == "DOWN":
        p[0] = p[0] - int(x2[1])
    elif x2[0] == "RIGHT":
        p[1] = p[1] + int(x2[1])
    elif x2[0] == "LEFT":
        p[1] = p[1] - int(x2[1])

print("the final coordinates are : ",p)

Enter the path : UP 5,DOWN 3,LEFT 3,RIGHT 2
the final coordinates are :  [2, -1]

11) Find the continuous occurrence of the string.

In [24]:
x1 = input("Enter the string: ")
s1 = x1.lower()
result = ""
count = 1
for i in range(1, len(s1)):
    if s1[i] == s1[i-1]:
        count += 1
    else:
        result += s1[i-1] + str(count)
        count = 1
result += s1[-1] + str(count)
print(result)

Enter the string: Aabbcdeefffaabbcc
a2b2c1d1e2f3a2b2c2

12)Find the pair of alphabets in an alphanumeric string whose sum of numbers in between is always 9

In [25]:
x1 = input("Enter the string: ")
result = []
i = 0
while i < len(x1):
    if x1[i].isalpha():
        j = i + 1
        while j < len(x1) and not x1[j].isalpha():
            j += 1
        num_sum = sum(int(n) for n in x1[i + 1:j] if n.isdigit())
        if num_sum == 9:
            result.append((x1[i], x1[j]))
        i = j
    else:
        i += 1

for pair in result:
    print(f"{pair[0]},{pair[1]}")

Enter the string: a54b12c
a,b

13) Find how many pairs in a binary number that starts and ends with 1

In [26]:
x1 = input("Enter the binary number: ")
x2 = x1.count('1')
binary_pairs = x2 * (x2 - 1) // 2 if x2 > 1 else 0
print(binary_pairs)

Enter the binary number: 1001101010010
15

14)Find the minimum possible denominations for given valid currency.
(No of currencies used should be minimum)

In [27]:
x1 = list(map(int, input("Enter the currency denominations (comma-separated): ").split(',')))
money = int(input("Enter the amount of money: "))

x1.sort(reverse=True)
result = []

for i in x1:
    if money >= i:
        count = money // i
        money -= count * i
        result.append((i, count))

for i, count in result:
    print(f"{i}-{count}")

Enter the currency denominations (comma-separated): 1,2,5,10,20,50,100,200,500,2000
Enter the amount of money: 556
500-1
50-1
5-1
1-1

15)There is a bus travelling from Town A to Town B. There are n stops between them and bus has to make m stops.
Find the numbery of ways in the travel so that no stop is consecutive

In [28]:
import math
n = int(input("Enter the number of stops (n): "))
m = int(input("Enter the number of stops the bus has to make (m): "))

if m > n or m < 1:
    x = 0
else:
    x = math.comb(n - m + 1, m)

print("Output:", x)

Enter the number of stops (n): 16
Enter the number of stops the bus has to make (m): 5
Output: 792

16) A gaming company wants to create an App with multiple games.
The instruction of the games is given. You are asked to write the code to prepare the games,
Where inputs will be taken from users. Once the gaming algorithm is prepared then it can be associated with production interface of the App.

Game: Stone Paper Scissor Cut
    
Each win of a player will be counted as a one point for the player.
The game continues until any of the player scores 5.

In [ ]:
p1 = 0
p2 = 0
while((p1 or p2)<5):
    x1 = (input("Player 1 input : "))
    x2 = (input("Player 2 input : "))
    x1.lower()
    x2.lower()
    if x1 == "stone":
        if x2 == "stone":
            print("(DRAW)")
        elif x2 == "paper":
            print("(Player 2 wins)")
            p2 = p2 + 1
        elif x2 == "scissor":
            print("(Player 1 wins)")
            p1 = p1 + 1

    elif x1 == "paper":
        if x2 == "paper":
            print("(DRAW)")
        elif x2 == "scissor":
            print("(Player 2 wins)")
            p2 = p2 + 1
        elif x2 == "stone":
            print("(Player 1 wins)")
            p1 = p1 + 1

    elif x1 == "scissor":
        if x2 == "scissor":
            print("(DRAW)")
        elif x2 == "stone":
            print("(Player 2 wins)")
            p2 = p2 + 1
        elif x2 == "paper":
            print("(Player 1 wins)")
            p1 = p1 + 1

if p1 == 5:
    print("{Player 1 won (5 points)}")

if p2 == 5:
    print("{Player 2 won (5 points)}")

Player 1 input : stone
Player 2 input : stone
(DRAW)
Player 1 input : stone
Player 2 input : scissor
(Player 1 wins)
Player 1 input : paper
Player 2 input : stone
(Player 1 wins)
Player 1 input : paper
Player 2 input : stone
(Player 1 wins)
Player 1 input : scissor
Player 2 input : paper
(Player 1 wins)
Player 1 input : stone
Player 2 input : scissor
(Player 1 wins)
{Player 1 won (5 points)}

17)Validate Email Address:

In [29]:
x1 = input("Enter your email id : ")
acount = 0
ucount = 0
scount = 0

for i in x1:
    if i == "@":
        acount += 1
    elif i.isupper():
        ucount += 1

for i in x1:
    if i.isalnum() == True:
        continue
    else:
        if (i != '.') and (i != '_') and (i != '@'):
            scount += 1

if (acount > 1) or (ucount >= 1) or (scount >= 1) or (acount < 1):
    print("The @ count is : ",acount)
    print("The uppercase count is : ",ucount)
    print("The extra symbol count is : ",scount)
    print("INVALID EMAIL")
else:
    print("VALID EMAIL")

Enter your email id : m49_cutz@gmail.com
VALID EMAIL

18)solve the pattern

a)

In [30]:
n = int(input("Enter the no. of rows : "))

n1 = 1
for i in range(1, n + 1):
    for j in range(i):
        if j == i - 1:
            print(n1, end="")
        else:
            print(n1, "*", end=" ")
        n1 += 1
    print()

Enter the no. of rows : 4
1
2 * 3
4 * 5 * 6
7 * 8 * 9 * 10

b)

In [31]:
n = int(input("Enter the no. of rows : "))

for i in range(1, n*2):
    if i <= n:
        spaces = n - i
        stars = i
    else:
        spaces = i - n
        stars = n*2 - i

    print(" " * spaces + "* " * stars)

Enter the no. of rows : 4
   *
  * *
 * * *
* * * *
 * * *
  * *
   *

c)

In [32]:
n = int(input("Enter the number of rows: "))
count = 1
x2 = ""

for i in range(1, n + 1):
    for j in range(1, i + 1):
        x2 += str(count)
        count += 1
        if j < i:
            x2 += " * "
    x2 += "\n"

count -= (n - 1) * (n - 1) // 2 + (n - 1)
for i in range(n - 1, 0, -1):
    start = count
    for j in range(1, i + 1):
        x2 += str(start)
        start += 1
        if j < i:
            x2 += " * "
    count -= (i - 1)
    x2 += "\n"

print(x2)

Enter the number of rows: 4
1
2 * 3
4 * 5 * 6
7 * 8 * 9 * 10
4 * 5 * 6
2 * 3
1

d)

In [33]:
n = int(input("Enter the no. of rows: "))

x2 = ""
for i in range(0, n):
    for j in range(0, n):
        if ((j == 1 and i != 0 and i != 6) or ((i == 0 or i == 6) and j > 1 and j < 5) or (i == 3 and j > 2 and j < 6) or (j == 5 and i != 0 and i != 2 and i != 6)):
            x2 = x2 + "*"
        else:
            x2 = x2 + " "

    x2 = x2 + "\n"

print(x2)

Enter the no. of rows: 7
  ***
 *   *
 *
 * ***
 *   *
 *   *
  ***

19) Cyclic rotation

In [35]:
x1 = int(input("Enter 1 for first to last, 2 for last to first: "))
s = input("Enter the string: ")
n = int(input("Enter number of rotations: "))

for _ in range(n):
  if x1 == 1:
    first_char = s[0]
    s = s[1:] + first_char
  else:
    last_char = s[-1]
    s = last_char + s[:-1]

print(s)

Enter 1 for first to last, 2 for last to first: 1
Enter the string: happy
Enter number of rotations: 2
ppyha

20) Health check up

In [36]:
h1 = {
    "Sugar level": 15,
    "Blood pressure": 32,
    "Heartbeat rate": 71,
    "weight": 65,
    "fat percentage": 10
}

x1 = {}
x1["Sugar level"] = int(input("Enter Sugar level: "))
x1["Blood pressure"] = int(input("Enter Blood pressure: "))
x1["Heartbeat rate"] = int(input("Enter Heartbeat rate: "))
x1["weight"] = int(input("Enter weight: "))
x1["fat percentage"] = int(input("Enter fat percentage: "))

differences = {}
warnings = []

for i in h1:
    d = x1[i] - h1[i]
    differences[i] = d
    if d != 0:
      warnings.append(f"{i} is {abs(d)} {'more' if d > 0 else 'less'} than the ideal value")
    elif d == 0:
      warnings.append("No warning , the patient is HEALTHY")
      break

print("\nPatient's data:")
for i, value in x1.items():
    print(f"{i}: {value}")

print("\nDifferences from healthy patient data:")
print(differences)

print("\nWarnings:")
for warning in warnings:
  print(warning)

Enter Sugar level: 56
Enter Blood pressure: 120
Enter Heartbeat rate: 45
Enter weight: 67
Enter fat percentage: 67

Patient's data:
Sugar level: 56
Blood pressure: 120
Heartbeat rate: 45
weight: 67
fat percentage: 67

Differences from healthy patient data:
{'Sugar level': 41, 'Blood pressure': 88, 'Heartbeat rate': -26, 'weight': 2, 'fat percentage': 57}

Warnings:
Sugar level is 41 more than the ideal value
Blood pressure is 88 more than the ideal value
Heartbeat rate is 26 less than the ideal value
weight is 2 more than the ideal value
fat percentage is 57 more than the ideal value

21) Armstrong number

In [37]:
x1 = int(input("Enter the number for checking: "))
s = 0
t = x1
digits = len(str(x1))
while t > 0:
   digit = t % 10
   s += digit ** digits
   t //= 10

if x1 == s:
   print(x1, "is an Armstrong number")
else:
   print(x1, "is not an Armstrong number")

Enter the number for checking: 1634
1634 is an Armstrong number

22) Decimal to binary converter

In [38]:
x1 = int(input("Enter the decimal: "))
binaryArray = []

while x1 > 0:
  binaryArray.append(x1%2)
  x1 = x1//2

for j in reversed(binaryArray):
    print(j, end="")

Enter the decimal: 20
10100

23) Perfect number

In [39]:
x1 = int(input("Enter the number for checking : "))
Sum = 0
for i in range(1, x1):
    if(x1 % i == 0):
        Sum = Sum + i
if (Sum == x1):
    print(x1,"is a Perfect Number.")
else:
    print(x1,"is not a Perfect Number.")

Enter the number for checking : 28
28 is a Perfect Number.